@{
    ViewBag.Title = "Creatiore Web Design Mobile Apps Software Developments";
}

<div class="white-container" id="home">
    <div class="slider-container" id="slider">
        <a href="#" target="_blank">
            <img src="~/Content/themes/base/images/slider-01.png" />
        </a>

        <a href="#" target="_blank">
            <img src="~/Content/themes/base/images/slider-02.png" />
        </a>

        <a href="#" target="_blank">
            <img src="~/Content/themes/base/images/slider-03.png" />
        </a>
    </div>
</div>
<div class="black-container projects-container" id="projects">
    <div class="projects">
        <div class="project-title">PROJECTS</div>
        <div class="view img-hover-effect">
            <img src="~/Content/themes/base/images/Projects/hikmetshouse.png" />
            <div class="mask">
                <h2>Hikmet's House</h2>
                <p>
                    Hikmet's House Web Site
                    <br />
                    Design & Logo Design & Software
                </p>
                <a href="http://www.hikmetshouse.com/" target="_blank" class="info">Visit Website</a>
            </div>
        </div>
        <div class="view img-hover-effect">
            <img src="~/Content/themes/base/images/Projects/alfursan.png" />
            <div class="mask">
                <h2>Alfursan</h2>
                <p>
                    Alfursan File Management
                    <br />
                    Design & Software & Mobile Development
                </p>
                <a href="http://panel.alfursan.com.tr/" target="_blank" class="info">Visit Website</a>
            </div>
        </div>
    </div>
</div>
<div class="white-container" id="whatwedo">
    <div class="what-we-do">
        @*<section id="set-8">
            <div class="hi-icon-wrap hi-icon-effect-8">
                <a href="#set-8" class="hi-icon hi-icon-bookmark"></a>
                <a href="#set-8" class="hi-icon hi-icon-chat">Chat</a>
                <a href="#set-8" class="hi-icon hi-icon-bookmark">Bookmarks</a>
                <a href="#set-8" class="hi-icon hi-icon-user">User</a>
                <a href="#set-8" class="hi-icon hi-icon-contract">Contact</a>
            </div>
        </section>*@
        <table>
            <tr>
                <td>
                    <img src="~/Content/themes/base/images/WhatWeDo/01.gif" />
                </td>
                <td>
                    <img src="~/Content/themes/base/images/WhatWeDo/02.gif" />
                </td>
                <td>
                    <img src="~/Content/themes/base/images/WhatWeDo/03.png" />
                </td>
                <td>
                    <img src="~/Content/themes/base/images/WhatWeDo/04.gif" />
                </td>
            </tr>
            <tr>
                <td>
                    As you know, Thousands of mobile applications are producing and publishing
                    everyday. Don’t be too late to publish your own applications for your companies and
                    projects. Over two billion people on earth using smart phones, and everyday millions
                    of people downloading new applications. You can also be in this world through the
                    expert team of the Creatiore..
                </td>
                <td>
                    Creatiore will provide everything that you need with experienced software team. It’s
                    enough to say your wish to our software team who has already completed a lot of
                    projects before.

                </td>

                <td>
                    Creatiore provide the highest quality service to its customers every day by expanding
                    the team to experiment on the search engines algorithms in both theoretical and
                    practical sense.
                </td>
                <td>
                    A delirious designer team.
                    Yes, that’s how we describe us! We Love Freedom! We
                    challenge your expectations thru our limitless thoughts, extraordinary ideas, colourful
                    imaginations, artistics designs and originalities..That’s why we do the best! Plus,
                    these all are just a mail away from you!
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="black-container" id="aboutus">
    <div class="sitewidth about-us-container">
        <table>

            <thead>
                <tr>
                    <td colspan="4">ABOUT US</td>
                </tr>
            </thead>

            <tr>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/1.gif" />
                </td>
                <td>
                    WE LOVE PROBLEMS<br />
                    Because puzzles are fun.
                </td>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/5.gif" />
                </td>
                <td>
                    WE ALWAYS IMPROVE<br />
                    Because we always learn new techs.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/2.gif" />
                </td>
                <td>
                    WE LOVE DETAILS<br />
                    Because small things are important.
                </td>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/6.gif" />
                </td>
                <td>
                    WE LOVE STATISTICS<br />
                    Because numbers never lie.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/3.gif" />
                </td>
                <td>
                    WE ARE CREATIVE<br />
                    Because we have great imagination.
                </td>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/7.gif" />
                </td>
                <td>
                    WE LOVE GLOBALITY<br />
                    Because we would like to serve to the whole world.
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/4.gif" />
                </td>
                <td>
                    WE ARE ORGANIZED<br />
                    Because we stick to the plan.
                </td>
                <td>
                    <img src="~/Content/themes/base/images/aboutUs/8.png" />
                </td>
                <td>
                    WE ARE FAST<br />
                    Because time is money.
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="white-container" id="contact">
    <div class="contact-form">
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>Subject:</td>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>Message:</td>
                            <td>
                                <textarea rows="5"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: right">
                                <img src="~/Content/themes/base/images/send.png" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="vertical-align: top;">
                    <div>
                        <img src="~/Content/themes/base/images/map.png" />
                        <hr />
                        Yeni Mah. 544 Sok. No : 3 D: 10
                        <br />
                        Küçükköy / Gaziosmanpaşa Istanbul
                        <br />
                        Mail : info@@creatiore.com
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/creatiore" target="_blank">
                            <img src="~/Content/themes/base/images/Social/Facebook-icon.png"
                                 onmouseover="this.src='/Content/themes/base/images/Social/Hover-Facebook-icon.png';"
                                 onmouseout="this.src='/Content/themes/base/images/Social/Facebook-icon.png';" />
                        </a>
                        <a href="https://plus.google.com/u/0/b/116967571394483100900/116967571394483100900/about?pageId=116967571394483100900" target="_blank">
                            <img src="~/Content/themes/base/images/Social/Google-plus-icon.png"
                                 onmouseover="this.src='/Content/themes/base/images/Social/Hover-Google-plus-icon.png';"
                                 onmouseout="this.src='/Content/themes/base/images/Social/Google-plus-icon.png';" />
                        </a>
                        <a href="https://twitter.com/creatiore" target="_blank">
                            <img src="~/Content/themes/base/images/Social/Twitter-icon.png"
                                 onmouseover="this.src='/Content/themes/base/images/Social/Hover-Twitter-icon.png';"
                                 onmouseout="this.src='/Content/themes/base/images/Social/Twitter-icon.png';" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCOIYhIDP1L3e0wgc5vedPgg" target="_blank">
                            <img src="~/Content/themes/base/images/Social/YouTube-icon.png"
                                 onmouseover="this.src='/Content/themes/base/images/Social/Hover-YouTube-icon.png';"
                                 onmouseout="this.src='/Content/themes/base/images/Social/YouTube-icon.png';" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/index")